/* PageNotFound.css */

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures the footer is at the bottom */
  align-items: center;
  min-height: 82.7vh; /* Full height of the viewport */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.page-not-found-content {
  flex-grow: 1; /* Makes the content take up available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.go-back-button {
  margin-top: 20px;
}
