/* Base styles for the navbar */
.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8); /* Give navbar a background color (instead of transparent) */
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9); /* Slightly darker background when scrolled */
}


.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-toggler {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  display: none; /* Hidden on larger screens */
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  font-size: 1.8rem;
}

.navbar-menu {
  display: none; /* Hidden on mobile by default */
}

.navbar-menu.active {
  display: block; /* Show menu when 'active' */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0.5rem 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff9800; /* Hover color */
}

/* Theme toggle button styles */
.btn-theme-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
  .navbar-toggler {
    display: block; /* Show the hamburger icon on small screens */
  }

  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
  }

  .navbar-nav {
    display: block;
  }

  .nav-item {
    margin: 1rem 0;
  }
}

/* Styles for larger screens */
@media (min-width: 768px) {
  .navbar-menu {
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    margin: 0 1rem;
  }

  .nav-link {
    padding: 0.5rem 1.5rem;
  }
}
